/java/PrimitiveTypeTesting/nbproject/private/
/java/PrimitiveTypeTesting/build/
/java/QuadricEquation/nbproject/private/
/java/QuadricEquation/build/
/java/GamesWithLab3/nbproject/private/
/java/GamesWithLab3/build/
/java/GuessNumberGame/nbproject/private/
/java/GuessNumberGame/build/
/java/GuessGameLab5/nbproject/private/
/java/GuessGameLab5/build/
/java/GuessGameLab5/dist/
/java/MvcProject/nbproject/private/
/java/MvcProject/build/