/java/PrimitiveTypeTesting/nbproject/private/
/java/PrimitiveTypeTesting/build/
/java/QuadricEquation/nbproject/private/
/java/QuadricEquation/build/
/java/GamesWithLab3/nbproject/private/
/java/GamesWithLab3/build/