/java/PrimitiveTypeTesting/nbproject/private/
/java/PrimitiveTypeTesting/build/
/java/QuadricEquation/nbproject/private/
/java/QuadricEquation/build/
/java/GamesWithLab3/nbproject/private/
/java/GamesWithLab3/build/
/java/GuessNumberGame/nbproject/private/
/java/GuessNumberGame/build/
/java/GuessGameLab5/nbproject/private/
/java/GuessGameLab5/build/
/java/GuessGameLab5/dist/
/java/MvcProject/nbproject/private/
/java/MvcProject/build/
/java/WordGameLab6/nbproject/private/
/java/WordGameLab6/build/
/java/WordGameLab6/dist/
/java/WorkWithArray/nbproject/private/
/java/WorkWithArray/build/
/java/WorkWithArray/dist/
/java/AncientGreece/nbproject/private/
/java/AncientGreece/build/
/java/AncientGreece/dist/
/java/DuckProject/nbproject/private/
/java/DuckProject/build/
/java/AncientGreeceStrategy/nbproject/private/
/java/AncientGreeceStrategy/build/
/java/AncientGreeceStrategy/dist/
/java/WorkWithFiles/nbproject/private/
/java/WorkWithFiles/build/